.wrapper {
  display: grid;
  place-items: center;
  grid-template-columns: 100%;
  grid-template-rows: repeat();
  padding: 2rem;
  height: auto;
  width: 340px;
  margin: 0 auto;
}

.head {
  text-align: center;
}
.head p {
  font-weight: 200;
  font-size: 1.25rem;
  color: var(--headTxt-color);
  padding: 0.75rem 0;
}

.formWrap {
  display: grid;
  background: var(--headerBg-color);
  padding: 1rem 1.5rem;
  border: 1px solid #242424;
  border-radius: 5px;
  width: 100%;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginLabel {
  color: var(--headTxt-color);
  font-size: 13px;
}

.spanText {
  color: var(--blueTxt-color);
  font-size: var(--font-twelve);
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.inputField {
  background: var(--bodyBg-color);
  border: 1px solid #242424;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  color: #f0f6fc;
  font-size: var(--font-twelve);
  font-weight: 300;
  letter-spacing: normal;
}

.inputField :hover,
:focus {
  outline: var(--blueTxt-color) 1.5px solid;
}

.signIn {
  background: var(--greenBg-color);
  font-size: var(--font-twelve);
  font-weight: 600;
  font-family: var(--font);
  padding: 0.35rem;
  border: 1px solid #249e3b;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  color: #f0f6fc;
  margin-bottom: 0.5rem;
}

.signIn :hover,
:focus {
  background: #249e3b;
}

.footer {
  padding: 0.5rem 2rem;
  border: 1px solid var(--bodyTxt-color);
  border-radius: 5px;
  width: 100%;
  margin-top: 1rem;
}

.text {
  font-size: var(--font-twelve);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--headTxt-color);
}
.text > span {
  margin-left: 3px;
}
