.footerSection {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 95%;
  border-top: 1px solid #30363d;
  margin: 1rem auto;
  margin-top: 2rem;
  padding-top: 1rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.smallTxt {
  font-size: 12px;
  color: #586069;
  margin-left: 0.5rem;
}

.footerList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0;
}

.footerItem {
  padding: 0.15rem;
}

.footerLink {
  color: var(--blueTxt-color);
  font-size: var(--font-twelve);
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .footerSection {
    flex-direction: row;
  }

  .footerList {
    justify-content: flex-start;
    margin-left: 1rem;
  }

  .footerItem {
    padding: 0.5rem;
  }

  .logoContainer {
    margin-top: 0;
  }
}

@media screen and (min-height: 800px) {
  .footerSection {
    position: absolute;
    bottom: 0;
  }
}
